.luckysheet-formula-help-c {
  position: absolute;
  border: 1px solid hsl(var(--color-border-default));
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  color: hsl(var(--color-text-default));
  font-size: 12px;
  background: hsl(var(--color-bg-default));
  z-index: 1003;
  width: 300px;
}

.font-family-mono {
  font-family: 'JetBrains Mono', monospace;
  font-weight: 500;
  font-size: 12px;
}

/* .luckysheet-formula-help-c .luckysheet-formula-help-content {
  max-height: 300px;
  overflow-y: scroll;
} */

.luckysheet-formula-help-content-example {
  margin-top: 5px;
}

.luckysheet-formula-help-title {
  display: block;
  border-top: 1px solid hsl(var(--color-border-default));
  border-bottom: 1px solid hsl(var(--color-border-default));
  background: hsl(var(--color-bg-secondary));
  padding: 2px 10px;
  font-size: 14px;
}

.luckysheet-formula-help-title,
.luckysheet-formula-search-item-active {
  padding: 4px 10px !important;
  font-size: small;
  /* background: #f8f9fa !important; */
  font-weight: 600;
  border-bottom: 0px !important;
  border-top: 0px !important;
  border-radius: 4px;
}

.luckysheet-formula-help-c,
.luckysheet-formula-search-c {
  padding: 6px;
  user-select: text;
  top: 25px;
  background: hsl(var(--color-bg-default));
  min-width: 300px;
  /* max-width: 450px; */
}

#luckysheet-formula-help-c {
  border-radius: 10px;
  top: 25px;
  background: hsl(var(--color-bg-default));
}

.luckysheet-formula-help-title-formula {
  width: fit-content;
}

.luckysheet-formula-help-content {
  background-color: hsl(var(--color-bg-default));
  /* margin: 0px 8px 8px 8px; */
  padding: 2px;
  border-radius: 0px 0px 10px 10px;
}

.luckysheet-formula-help-content-param,
.luckysheet-formula-help-content {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.luckysheet-formula-help-content-param {
  padding-top: 4px;
  border-top: 1px solid hsl(var(--color-border-default));
}

.luckysheet-formula-help-content-example {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.luckysheet-arguments-help-section-title {
  font-size: 14px;
  font-weight: 600;
}

.example-title {
  color: hsl(var(--color-text-secondary));

/* fv/text/helper/sm-bold */
font-family: "Helvetica Neue";
font-size: var(--font-size-2xsm, 12px);
font-style: normal;
font-weight: 500;
line-height: 16px; /* 133.333% */
}

.example-value {
  color: hsl(var(--color-text-default));

/* fv/text/helper/sm */
font-family: "Helvetica Neue";
font-size: var(--font-size-2xsm, 12px);
font-style: normal;
font-weight: 400;
line-height: 16px; /* 133.333% */
}
.example-value-code {
    color: hsl(var(--color-text-default));

font-size: var(--font-size-2xsm, 12px);
font-style: normal;
font-weight: 400;
line-height: 16px; /* 133.333% */
}

.formula-title {
  display: flex;
  justify-content: space-between;
}

.luckysheet-formula-help-title-formula {
  width: 250px;
  word-break: break-word;
}

.luckysheet-arguments-help-section {
  margin-top: 5px;
  margin-bottom: 5px;
  color: hsl(var(--color-text-default));
}

.luckysheet-arguments-help-section-title {
  padding: 1px 10px;
  color: hsl(var(--color-text-secondary));
}

.luckysheet-arguments-help-parameter-content {
  padding: 1px 0px;
  display: inline-block;
  word-wrap: break-word;
}

.luckysheet-arguments-help-formula {
  padding: 1px 10px;
  font-size: 14px;
}

.luckysheet-arguments-help-parameter-active {
  background-color: hsl(var(--color-bg-brand-light));
}

.luckysheet-formula-help-collapse {
  position: absolute;
  top: 0px;
  right: 25px;
  font-size: 16px;
  cursor: pointer;
  color: hsl(var(--color-text-secondary));
}

.luckysheet-formula-help-close {
  position: absolute;
  top: 0px;
  right: 5px;
  font-size: 16px;
  cursor: pointer;
  color: hsl(var(--color-text-secondary));
}

.luckysheet-formula-help-close:hover,
.luckysheet-formula-help-collapse:hover {
  color: hsl(var(--color-text-default));
}
