@import './fonts.css';
@import '@fileverse/ui/styles';
@import 'katex/dist/katex.min.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  ul,
  ol {
    list-style: revert;
  }

  *,
  ::before,
  ::after {
    @apply color-border-default;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

body {
  position: static;
  user-select: none;
  -moz-osx-font-smoothing: grayscale;
}

.fetch-url-button {
  color: #1977e4;
}

.fetch-url-modal {
  top: 22% !important;
}

.fortune-read-only {
  .luckysheet-rich-text-editor,
  .luckysheet-sheets-item-function,
  .fortune-sheettab-button,
  .luckysheet-input-box-inner {
    display: none;
  }

  /* Hide link editing UI but allow viewing popover in read-only mode */
  .fortune-link-modify-modal:not(.link-toolbar),
  .fortune-link-cards-container,
  .fortune-link-card.fortune-link-card--editing,
  .fortune-link-type-select,
  .fortune-link-type-dropdown,
  .fortune-input-with-icon,
  .fortune-link-input,
  .fortune-insert-button,
  .luckysheet-link-dialog,
  .luckysheet-link-panel {
    display: none !important;
  }

}

.fortune-tooltip {
  top: 50px !important;
  background: black !important;
  border-radius: 4px;
}

.luckysheet-cs-fillhandle {
  background-color: #efc703 !important;
  border-radius: 50%;
  height: 12px;
  width: 12px;
}

.fortune-cell-selected-move {
  border: 2px solid #efc703 !important;
}

.fortune-cell-selected-extend {
  border: 2px dashed #efc703 !important;
}

.luckysheet-input-box-inner {
  /* min-width: 102% !important;
  min-height: 102% !important; */
  border: 2px solid #efc703;
}

/* .luckysheet-cs-inner-border {
  background-color: #FFDF0A1A;
} */

.fortune-row-header-selected {
  border: 0px solid #efc703 !important;
}

.fortune-col-header-selected {
  border: 0px solid #efc703 !important;
}

/* style for scrollbar zindex */
.luckysheet-scrollbar-y,
.luckysheet-bottom-controll-row {
  z-index: 1 !important;
}

/*Style for inline cell comment*/
.luckysheet-postil-show-main {
  height: fit-content !important;
  width: 300px !important;
  background-color: white !important;
  border: 1px solid #e8ebec !important;
  border-radius: 4px !important;
  padding: 0 !important;
  box-shadow:
    0 1px 1px #0000002e,
    0 4px 8px #0000001a;
}

/*Right click menu*/
.luckysheet-cols-menuitem,
.luckysheet-mousedown-cancel {
  /* display: flex; */
  width: 100%;
}

.fortune-toolbar-button:hover {
  background-color: none !important;
}

.template-button:hover {
  background-color: #cf1c821f !important;
}

#luckysheet-sheet-area {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1000;
}
