@import '@fileverse/ui/styles';
@import 'katex/dist/katex.min.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  ul,
  ol {
    list-style: revert;
  }

  *,
  ::before,
  ::after {
    @apply color-border-default;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

body {
  position: static;
  user-select: none;
  -moz-osx-font-smoothing: grayscale;
}

.fortune-tooltip {
  top: 50px !important;
  background: black !important;
  border-radius: 4px;
}

.luckysheet-cell-selected {
  border: 1.5px solid #efc703 !important;
  /* background-color: white; */
}

.luckysheet-cs-fillhandle {
  background-color: #efc703 !important;
  border-radius: 50%;
  height: 10px;
  width: 10px;
}

.fortune-cell-selected-move {
  border: 2px solid #efc703 !important;
}

.luckysheet-input-box-inner {
  border: 1px solid #efc703;
}

.fortune-row-header-selected {
  border: 0px solid #efc703 !important;
}

.fortune-col-header-selected {
  border: 0px solid #efc703 !important;
}

/* Style for formula suggestion list */
.luckysheet-formula-help-title,
.luckysheet-formula-search-item-active {
  padding: 10px !important;
  font-size: small;
  background: #f8f9fa !important;
  font-weight: 600;
  border-bottom: 0px !important;
  border-top: 0px !important;
}

.luckysheet-formula-help-c,
.luckysheet-formula-search-c {
  user-select: text;
  padding: 6px;
  border-radius: 10px;
  top: 25px;
  background: #f8f9fa;
  min-width: 300px;
  width: fit-content;
  max-width: 450px;
  border: 1px solid lavender;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#luckysheet-formula-help-c {
  border-radius: 10px;
  top: 25px;
  background: #f8f9fa;
}

.luckysheet-formula-help-title-formula {
  width: fit-content;
}

.luckysheet-formula-help-content {
  background-color: white;
  /* margin: 0px 8px 8px 8px; */
  padding: 2px;
  border-radius: 0px 0px 10px 10px;
}

.luckysheet-formula-help-content-param,
.luckysheet-formula-help-content {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.luckysheet-formula-help-content-param {
  padding-top: 4px;
  border-top: 1px solid lightgrey;
}

.luckysheet-formula-help-content-example {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.luckysheet-arguments-help-section-title {
  font-size: 14px;
  font-weight: 600;
}

/* style for scrollbar zindex */
.luckysheet-scrollbar-y,
.luckysheet-scrollbar-x,
.luckysheet-bottom-controll-row {
  z-index: 1 !important;
}