.export-content-popover {
  width: 180px !important;
  border: 1px solid lightgrey;
}

.export-label {
  font-size: 15px;
}

.export-label-header {
  color: rgb(117, 128, 138);
}

.truncate-text {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 350px;
  /* Set the max width to 300px */
}