.export-text {
    color: #77818A;
    font-family: "Helvetica Neue";
    font-size: var(--font-size-2xsm, 12px);
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
}

.file-icon {
    padding: 4px 8px;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}